.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0 calc(100% / 7);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }

  .carousel-wrapper{
    display: flex;
    flex-direction: column;
  }

  .departureDate{
    font-size: larger;
    color: rgb(76, 146, 76);
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    background-color: #ddd;
    padding: 10px;
    border: none;
}
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    background-color: #ddd;
    padding: 10px;
    border: none;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  